parameters:
	ignoreErrors:
		-
			message: '#^Constant NJR_URI not found\.$#'
			identifier: constant.notFound
			count: 1
			path: include/Assets.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: include/RevalidateQueue.php

		-
			message: '#^Parameter \#3 \$callback of function add_settings_section expects callable\(\)\: mixed, null given\.$#'
			identifier: argument.type
			count: 1
			path: include/Settings.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: nextjs-revalidate.php
